@page
@model BookManagementABP.Pages.Account.CustomRegisterConfirmationModel
@{
}

<h1 class="" style="text-align: center">Verify email address</h1>
<h3 style="text-align: center">Email has been sent to @Model.EmailAddress</h3>
<div style="display:flex; align-items:center; justify-content: center">
    <a style="text-align: center" href="/account/login">Back to home page</a>
</div>